@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
@await Component.InvokeAsync("_MemberLayoutHeader") 
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- fixed-top-->
    @await Component.InvokeAsync("_MemberLayoutNavbar")

    <!-- ////////////////////////////////////////////////////////////////////////////-->
    @*@await Component.InvokeAsync("_MemberLayoutSidebar")*@
    <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="theme-assets/images/backgrounds/02.jpg">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="~/memberLyt/index.html">
                        <img class="brand-logo" alt="Chameleon admin logo" src="~/memberLyt/theme-assets/images/logo/logo.png" />
                        <h3 class="brand-text">ISM Traversal</h3>
                    </a>
                </li>
                <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
            </ul>
        </div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li @*class="active"*@>
                    <a href="/Member/Dashboard/MemberDashboard"><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
                </li>
                <li>
                    <a href="/Member/Destination/Search"><i class="ft-map"></i><span class="menu-title" data-i18n="">@localizer["Rotalar"]</span></a>
                </li>
                <li>
                    <a href="/Member/UserProfile/Index"><i class="ft-user"></i><span class="menu-title" data-i18n="">@localizer["Profilim"]</span></a>
                </li>
                <li>
                    <a href="/Member/Comment/Index"><i class="ft-message-circle"></i><span class="menu-title" data-i18n="">@localizer["Yorumlarım"]</span></a>
                </li>
                <li>
                    <a href="/Member/LastDestinations/Index"><i class="ft-navigation"></i><span class="menu-title" data-i18n="">@localizer["Son Rotalar"]</span></a>
                </li>

                <li class="nav-item has-sub">
                    <a href="#"><i class="ft-map-pin"></i><span class="menu-title" data-i18n="">@localizer["Rezervasyonlarım"]</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="/Member/Reservation/ApprovalReservations" class="menu-item">@localizer["Onay Bekleyen"]</a>
                            <a href="/Member/Reservation/CurrentReservations" class="menu-item">@localizer["Aktif/Onaylanmış"]</a>
                            <a href="/Member/Reservation/OldReservations" class="menu-item">@localizer["Geçmiş"]</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/Member/Reservation/NewReservation"><i class="ft-plus-circle"></i><span class="menu-title" data-i18n="">@localizer["Rezervasyon Yap"]</span></a>
                </li>
                <li>
                    <a href="/Default/Index/"><i class="ft-layout"></i><span class="menu-title" data-i18n="">@localizer["Siteye Git"]</span></a>
                </li>
                <li>
                    <a href="/Login/Logout/"><i class="ft-log-out"></i><span class="menu-title" data-i18n="">@localizer["Çıkış Yap"]</span></a>
                </li>
            </ul>
        </div>
        <div class="navigation-background"></div>
    </div>

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-body">
                <!-- Page start -->
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    @await Component.InvokeAsync("_MemberLayoutFooter")

</body>
</html>