@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Çoklu Dil Desteği</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <p class="card-text">@localizer["Merhaba"] @localizer["Bugün"] @localizer["Hava"] @localizer["Çok"] @localizer["Güzel"] @localizer["Bize"] @localizer["Ulaşın"] </p>
                </div>
            </div>
        </div>
    </div>
</div>